@model Tolotu_Web.Models.Objetos.Usuario
@{
  ViewData["Titulo"] = "Iniciar Sesión";
}

<div class="row">
  <div class="col-lg-5 col-md-2"></div>
  <div class="col-lg-5 col-md-8">

    <!-- Logo -->
    <div class="card">
      <img src="~/img/Logo.svg" class="card-img-top h-50" alt="Logo">
      <div class="card-body pb-3 pl-5 pr-5 pt-0 text-center">

        <!-- Form donde se van a pedir todos los datos del usuario y se van a guardar en el controlador en la propiedad usuario -->
        <form method="post" asp-action="/Auth">
          <input type="text" class="form-control mb-2" placeholder="Usuario" asp-for="NombreUsuario">
          <input type="password" class="form-control mb-3" placeholder="Contraseña" asp-for="Contrasenia">

          <button type="submit" class="btn btn-primary w-100 mb-3">Entrar</button>
        </form>

        <!-- Informacion de Facebook -->
        <div style="position: relative;">

          <div class="line"></div>
          <div class="inside-words-reg">o</div>
          <button class="btn btn-primary w-100 mb-3">Iniciar sesión con Facebook</button>

        </div>

      </div>
    </div>

  </div>
  <div class="col-lg-2 col-md-2"></div>
</div>

<!-- Inicio de sesion en caso de que ya tenga cuenta -->
<div class="row">
  <div class="col-lg-5 col-md-2"></div>
  <div class="col-lg-5 col-md-8">

    <div class="card mt-3 text-center">
      <div class="card-body">
        ¿No tienes una cuenta? <a asp-area="" asp-controller="Cuenta" asp-action="Registro">Registrate</a>.
      </div>
    </div>

  </div>
  <div class="col-lg-2 col-md-2"></div>
</div>
